table {
    width: 100%;
    height: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  table p {
    background :rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
  }
  table td {
    background :white ;
    border-collapse: collapse;
    border: 1px solid black;
    color:black;
    text-align: center;
    
  }

  .tire p{
    text-align: center;
    color: white;
}

.tire h2{
    text-align: center;
    color: white;
    margin: 10px;
    margin-bottom: 5px;
}
.tire{
    background-color: black;
    height: 70px;
    margin-left: auto;
   margin-right: auto;
   width: 1423px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form {
 
    border: 5px solid black;
    background: #fff;
    
}
.modif{
   
	 height: 700px;
}
table table
{
  width: 50%;
  height: 50%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  float: none;


}
.table1 {
  width: 20%;
  height: 20%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
