ul { 
    background: white;

    }

   

      .floatright {
       float: left;
                 }

.floatleft{
        float: right;
    
}

h2{
    text-align: center;
    font-family: Optima, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: white;
}
td {
  
    background-color: white;
    text-align: left;
    margin: 0px;
    text-align: center; 
    vertical-align: middle;
   
 }

td.p {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    text-align: left;
}
.fit-picture {
    width: 100px;
	height: 70px;

}

img{
    width: 320px;
	height: 320px;

}


table img{
    width: 300px;
	height: 300px;  
}
main{
    margin-top: 122px;
    background-color: white;
    float: left;
}
input[type=text] {
    background-color: white;
    color: black;
    padding: 20px 0px;
    margin: 8px 0;
    border: 2px solid black;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
select {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px 0px;
    margin: 8px 0;
    border: 2px solid black;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}
input[type=password] {
    background-color: white;
    color: black;
    padding: 20px 0px;
    margin: 8px 0;
    border: 2px solid black;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input[type=number] {
    background-color: white;
    color: black;
    padding: 20px 0px;
    margin: 8px 0;
    border: 2px solid black;
    width: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
}
input[type=submit] {
    background-color: black;
    color: white;
    padding: 30px 40px;
    margin: 8px 0;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input[type=submit]:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  table p {
    background :rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
  }
  .tab2 p {
    background :rgb(0, 0, 0);
    color: rgb(255, 250, 250);
    
  }
  .tab2 h1 {
    color: black;
    text-align: center;
    
  }
  .tab4 h1 {
    color: black;
    text-align: center;
    
  }
  .tire{
      background-color: black;
      height: 130px;
      margin-top: -10px;
      margin-left: auto;
     margin-right: auto;
     width:100%;
  }
  .tire5{
    background-color: black;
    height: 130px;
    margin-left: auto;
   margin-right: auto;
   width: 1423px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  .tire2{
    background-color: black;
    height: 130px;
    margin-left: auto;
   margin-right: auto;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   
}
  h2{
     color: white;
     text-align: center;
     font-family: Optima, sans-serif;
 
  }
  h1{
    color: white;
    text-align: left;
    font-family: Optima, sans-serif;

 }
 .table1 p{
    color: white;
    text-align: left;
    text-decoration: transparent;
    font-family: Optima, sans-serif;
 }


  .titre{
    text-decoration: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.table2 {
    table-layout: fixed;
    width: 100%;

    background-color: black;
  }
 
  .table1 td{
    background-image:url(image/acceuille1.png.webp); 
    width: 100%;
	height: 550px;
    transition: 7s ease;
    top: 0%;
    cursor: pointer;
  }

  

  

  ul { 
    background: white;
margin-top: 30px;
    }
    .tire p{
        text-align: center;
        color: white;
    }
    .tire5 p{
        text-align: right;
        color: white;
    }
    .tire h1{
        text-align: right;
        color: white;
        margin: 10px;
        margin-bottom: 5px;
    }
    #container{
        width:400px;
     
        margin-top:3%;

    }
    
    form {
        width: 500px;
	height: 500px;
        padding: 30px;
        border: 5px solid #000000;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .table4 form {
        width: 500px;
	height: 500px;
        padding: 30px;
        border: 5px solid white;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .tab4 form {
        width: 500px;
	height: 700px;
        padding: 30px;
        border: 5px solid white;
        background: #fff;
        
    }

    form h1{
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
        font-family: Optima, sans-serif;;
        font-size: 18px;
        font-style: italic;
    }
    .table12 p{
        color: black;
        text-align: left;
        font-family: Optima, sans-serif;
     }
     .table12 td{
       
        width: 100%;
        height: 550px;
}


  .table2 p:hover {
   text-decoration:underline ;
   text-decoration: 10px;
  }
  .description  p{
      text-align: center;

  }

  footer{
   
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:100px;  
    
    margin-top: 50px;
    margin-left: auto;
   margin-right: auto;
   width:100%;/* Hauteur du pied de page */

  }
  .foot{
    margin-top: -50px;
      background-color: black;
      color: white;
  }

  
  footer .Copyright{
      
      text-align: center;
  }
  footer .logo{
      float: right;
     
  }

 footer img{
    width: 40px;
	height: 40px;
  }
  footer .tire{
 
	height: 100px; 
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}

 *{
     margin: 0%;
     padding: 0%;
     font-family: "montserrat",sans-serif;
 }
 .landing-page ul{
     background-color: black;
     text-align: center;
     
    
 }
 .landing-page a{
    color: white;
}
 .landing-page{
     width: 100%;
     height: 100vh;
     background-color:  black;
     position: relative;
     overflow: hidden;
     text-align: center;
 }

.landing-page:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    background: url(image/acceuille2.png.webp);
    background-size: cover;
    opacity: 0.4;
    animation: anim 25s linear infinite;

}
@keyframes anim {
    50%{
        transform: scale(2);
    } 
    100%{
        transform: scale(1);
    } 
}
.page-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding:0 40px ;
    box-sizing: border-box;
    text-align: center;


}

.page-content h1{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;

}

.page-content a{
    display: inline-block;
    text-decoration: none ;
    color: white;
    border: 2px solid #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.4s linear;
    text-align: center;
}
.page-content a:hover{
    color: black;
    background:white ;

}

#menu{
    overflow: hidden;
    background-color: black;
    position: fixed;
    /* Set the navbar to fixed position */
    /* Position the navbar at the top of the page */
   /* Full width */

   width: 100%;
   height: 100px;
   top: 0px;
    color: black;
    margin-top: -5px;

  }

 #menu ul{
    background-color: black;
     text-align: center;
     width: 100%;   
    
 }
 #menu li {
    display : inline;
    float: left;
    display: block;
    text-decoration: none;
    padding : 0em 2em ; 
    font-family: Optima, sans-serif;
    
    height: auto;

    display: inline-block;
    background-color: black;

  }
 
 #menu a{
    color: white;
    display: inline-block;
    text-decoration: none ;
    
    border: 2px solid black;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.4s linear;
    text-align: center;
}


.table1 td a{
   
    text-decoration: none ;
    color: black;
    border: 6px solid black;
    text-align: right;
   font-size: 100px;
}


